//FONTS
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");
//ICONS
@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css");

//BOOSTRAP 5
@import "./bootstrap";

//CUSTOMIZE
// === Structure
@import "custom/structure/general";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/vertical";
@import "custom/structure/horizontal-nav";
@import "custom/structure/layouts";
// === Components
@import "custom/components/avatar";
@import "custom/components/alerts";
@import "custom/components/accordion";
@import "custom/components/helper";
@import "custom/components/preloader";
@import "custom/components/modals";
@import "custom/components/forms";
@import "custom/components/widgets";
@import "custom/components/demos";
@import "custom/components/print";
@import "custom/components/carousel";
// Pages
@import "custom/pages/authentication";
@import "custom/pages/ecommerce";
@import "custom/pages/file-manager";
@import "custom/pages/email";
@import "custom/pages/chat";
@import "custom/pages/contacts";
@import "custom/pages/projects";
@import "custom/pages/coming-soon";
@import "custom/pages/timeline";
@import "custom/pages/extras-pages";
//PLUGIN
@import "../../node_modules/nprogress/nprogress.css";
@import "custom/plugins/choices";
@import "../../node_modules/animate.css/animate.min.css";
#nprogress .bar {
  background: #009e53;
  //   height: 3px;
}
#nprogress .peg {
  box-shadow: 0 0 15px #009e53, 0 0 10px #009e53;
}
#nprogress .spinner-icon {
  border-top-color: #009e53;
  border-left-color: #009e53;
}
#nprogress .spinner {
  right: unset;
  left: 50%;
  transform: translateX(-50%);
}
[data-tooltip] {
  --arrow-size: 5px;
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 400px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 16px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(
    30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44)
  );
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: "";
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size); /* CSS triangle */
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top; /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}
/*
  That's it for the basic tooltip.

  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + var(--arrow-size));
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
  border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}

/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + var(--arrow-size));
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(var(--arrow-size), 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(var(--arrow-size), 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0px;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + var(--arrow-size));
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, var(--arrow-size)) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}

@-webkit-keyframes primary-indeterminate-translate {
  0% {
    transform: translateX(-145.166611%);
  }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    transform: translateX(-145.166611%);
  }
  59.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    transform: translateX(-61.495191%);
  }
  to {
    transform: translateX(55.444446%);
  }
}

@keyframes primary-indeterminate-translate {
  0% {
    transform: translateX(-145.166611%);
  }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    transform: translateX(-145.166611%);
  }
  59.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    transform: translateX(-61.495191%);
  }
  to {
    transform: translateX(55.444446%);
  }
}
@-webkit-keyframes primary-indeterminate-scale {
  0% {
    transform: scaleX(0.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(
      0.334731,
      0.12482,
      0.785844,
      1
    );
    animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    transform: scaleX(0.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.661479);
  }
  to {
    transform: scaleX(0.08);
  }
}
@keyframes primary-indeterminate-scale {
  0% {
    transform: scaleX(0.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(
      0.334731,
      0.12482,
      0.785844,
      1
    );
    animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    transform: scaleX(0.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.661479);
  }
  to {
    transform: scaleX(0.08);
  }
}
@-webkit-keyframes auxiliary-indeterminate-translate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
      0.15,
      0,
      0.515058,
      0.409685
    );
    animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    transform: translateX(-54.888891%);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(
      0.31033,
      0.284058,
      0.8,
      0.733712
    );
    animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    transform: translateX(-17.236978%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(
      0.4,
      0.627035,
      0.6,
      0.902026
    );
    animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    transform: translateX(29.497274%);
  }
  to {
    transform: translateX(105.388891%);
  }
}
@keyframes auxiliary-indeterminate-translate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
      0.15,
      0,
      0.515058,
      0.409685
    );
    animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    transform: translateX(-54.888891%);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(
      0.31033,
      0.284058,
      0.8,
      0.733712
    );
    animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    transform: translateX(-17.236978%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(
      0.4,
      0.627035,
      0.6,
      0.902026
    );
    animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    transform: translateX(29.497274%);
  }
  to {
    transform: translateX(105.388891%);
  }
}
@-webkit-keyframes auxiliary-indeterminate-scale {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
      0.205028,
      0.057051,
      0.57661,
      0.453971
    );
    animation-timing-function: cubic-bezier(
      0.205028,
      0.057051,
      0.57661,
      0.453971
    );
    transform: scaleX(0.08);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.152313,
      0.196432,
      0.648374,
      1.004315
    );
    animation-timing-function: cubic-bezier(
      0.152313,
      0.196432,
      0.648374,
      1.004315
    );
    transform: scaleX(0.457104);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.257759,
      0.003163,
      0.211762,
      1.38179
    );
    animation-timing-function: cubic-bezier(
      0.257759,
      0.003163,
      0.211762,
      1.38179
    );
    transform: scaleX(0.72796);
  }
  to {
    transform: scaleX(0.08);
  }
}
@keyframes auxiliary-indeterminate-scale {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
      0.205028,
      0.057051,
      0.57661,
      0.453971
    );
    animation-timing-function: cubic-bezier(
      0.205028,
      0.057051,
      0.57661,
      0.453971
    );
    transform: scaleX(0.08);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.152313,
      0.196432,
      0.648374,
      1.004315
    );
    animation-timing-function: cubic-bezier(
      0.152313,
      0.196432,
      0.648374,
      1.004315
    );
    transform: scaleX(0.457104);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.257759,
      0.003163,
      0.211762,
      1.38179
    );
    animation-timing-function: cubic-bezier(
      0.257759,
      0.003163,
      0.211762,
      1.38179
    );
    transform: scaleX(0.72796);
  }
  to {
    transform: scaleX(0.08);
  }
}
.loading-bar {
  position: relative;
  width: 100%;
  height: 4px;
  overflow: hidden;
  transform: translateZ(0);
}

.bar-container {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: top left;
}
.bar-container.primary {
  -webkit-animation: primary-indeterminate-translate 2s infinite linear;
  animation: primary-indeterminate-translate 2s infinite linear;
}
.bar-container.aux {
  -webkit-animation: auxiliary-indeterminate-translate 2s infinite linear;
  animation: auxiliary-indeterminate-translate 2s infinite linear;
}

.bar-item {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: $green;
}
.bar-item.primary {
  -webkit-animation: primary-indeterminate-scale 2s infinite linear;
  animation: primary-indeterminate-scale 2s infinite linear;
}
.bar-item.aux {
  -webkit-animation: auxiliary-indeterminate-scale 2s infinite linear;
  animation: auxiliary-indeterminate-scale 2s infinite linear;
}
